/*EDITABLE: This is the SCSS file--it will be compiled into the style.css file. 
------------This is the file that should be edited, not the style.css file.
*/

/*VARIABLES*/
$white: #fff;
$black: #000;
$base-black: #222;
$blue: #00A0B0; /*Palette "Ocean Five"*/
$brown: #6A4A3C;
$red: #CC333F;
$orange: #EB6841;
$yellow: #EDC951;
$ice-blue: lighten($blue, 40%);
$soft-blue-white: #F3FFFF;
$soft-blue-shadow: #06737E;

body { 
	background: $white;
}

/*-------------------
 LANDING PAGE STYLES
-------------------*/

/*Section styles */
.section {
	text-align: center;
}

/*HEADING-LANDING section -- LANDING PAGE ONLY!!!*/
@media (min-width: 400px) {
	h1.fit-title {
		padding-top: 6rem;
		padding-bottom: 4.5rem;
	}
}

.heading-landing {
	border-top: 4px solid lighten($blue, 60%);
	background-color: $blue;
	background-image: linear-gradient(to top, darken($blue, 15%) 0%, $blue 15%);
	color: $white;
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
	h1.fit-title {
		text-align: center;
		//text-shadow: 0px 0px 10px darken($blue, 5%);
		//letter-spacing: .1px;
	}
}
.fit-title, .fit-title-base {
	color: $soft-blue-white;
	text-shadow: 0px 2px 1px $soft-blue-shadow;
}

/*HEADING*/
.heading {
	border-top: 3px solid lighten($blue, 60%);
	background-color: $blue;
	background-image: linear-gradient(to top, darken($blue, 15%) 0%, $blue 15%);
	color: $white;
	padding-top: 1rem;
	h1.fit-title-base {
		font-size: 1.9rem;
		margin-top: 0.5rem;
		text-align: left;
		//text-shadow: 0px 0px 10px darken($blue, 5%);
	}
	a {
		text-decoration: none;
		color: $white;
	}
	img {
		width: 30px;
		height: 30px;
		float: left;
		margin-top: -0.2rem;
		margin-right: 0.8rem;
	}
}
@media (min-width: 400px) {
	h1.fit-title-base {
		margin-top: 0;
		margin-bottom: 1.5rem;
		font-size: 3.0rem !important;
	}
	img {
		margin-top: 0.4rem !important;
	}
}
/*WELCOME section*/
.welcome {
	padding-top: 4rem;
	border-top: 1px solid $ice-blue;
	background-image: linear-gradient(to bottom, darken($white, 10%) 5px, $white 50px);
	h4 {
		font-style: italic;
	}
}

/*DIRECT section*/
.direct {
	.navigate {
		background-color: lighten($blue, 60%);
		border: 2px solid lighten($blue, 5%);
		border-radius: 2px;
		text-align: center;
		padding-bottom: 20px;
		//color: $white;
		a {
			text-decoration: none;
			color: $white;
			margin: 10px auto;
		}
		.btn {
			background-color: $blue;
			line-height: 100%;
			border-radius: 5px;
			padding: 10px;
			margin: 5px auto;
		}
		h5 {
			margin-top: 20px;
		}
	}
}

/*FOOTER section*/
.all-footer {
	background-color: darken($white, 10%);
}
.footer {
	min-height: 50px;
	//margin-top: 30px;
	bottom: 0px;
	border-top: 1px dashed lighten($base-black, 50%);
	color: lighten($base-black, 30%);
	p {
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
		text-shadow: 0px 1px 0px $white;
	}
}
@media (min-width: 400px) {
	.all-footer {
		margin-top: 10px;
	}
}
.footerbar {
	background-color: $blue;
	.color-sty {
		height: 4px;
		width: 25%;
		display: block;
		float: left;
	}
	.color1 {
		background-color: $blue;
	}
	.color2 {
		background-color: $brown;
	}
	.color3 {
		background-color: $red;
	}
	.color4 {
		background-color: $orange;
	}
	.color5 {
		background-color: $yellow;
	}
}

/*CONTENT section*/
.content, .landing-content {
	-webkit-flex: 1;
	flex: 1;
	//padding-top: 40px;
}
.content {
	padding-top: 4rem;
	border-top: 1px solid $ice-blue;
	background-image: linear-gradient(to bottom, darken($white, 10%) 5px, $white 50px);

}

/*FORM styles */
.explanation {
	text-align: left;
}
form.symptoms-form {
	margin-bottom: 15px;
	label {
		text-align: left;
		margin-left: .2rem;
		font-size: 2rem;
	}
}

/*OTHER styles*/
body {
	display: -webkit-flex;
	display: flex;
	min-height: 100vh;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.ui-page-theme-a {
	background-color: $white !important;
}
