/*EDITABLE: This is the SCSS file--it will be compiled into the style.css file. 
------------This is the file that should be edited, not the style.css file.
*/
/*VARIABLES*/
/*Palette "Ocean Five"*/
body {
  background: white; }

/*-------------------
 LANDING PAGE STYLES
-------------------*/
/*Section styles */
.section {
  text-align: center; }

/*HEADING-LANDING section -- LANDING PAGE ONLY!!!*/
@media (min-width: 400px) {
  h1.fit-title {
    padding-top: 6rem;
    padding-bottom: 4.5rem; } }
.heading-landing {
  border-top: 4px solid #e3fcff;
  background-color: #00a0b0;
  background-image: linear-gradient(to top, #005a63 0%, #00a0b0 15%);
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem; }
  .heading-landing h1.fit-title {
    text-align: center; }

.fit-title, .fit-title-base {
  color: #f3ffff;
  text-shadow: 0px 2px 1px #06737e; }

/*HEADING*/
.heading {
  border-top: 3px solid #e3fcff;
  background-color: #00a0b0;
  background-image: linear-gradient(to top, #005a63 0%, #00a0b0 15%);
  color: white;
  padding-top: 1rem; }
  .heading h1.fit-title-base {
    font-size: 1.9rem;
    margin-top: 0.5rem;
    text-align: left; }
  .heading a {
    text-decoration: none;
    color: white; }
  .heading img {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: -0.2rem;
    margin-right: 0.8rem; }

@media (min-width: 400px) {
  h1.fit-title-base {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 3.0rem !important; }

  img {
    margin-top: 0.4rem !important; } }
/*WELCOME section*/
.welcome {
  padding-top: 4rem;
  border-top: 1px solid #7df3ff;
  background-image: linear-gradient(to bottom, #e6e6e6 5px, white 50px); }
  .welcome h4 {
    font-style: italic; }

/*DIRECT section*/
.direct .navigate {
  background-color: #e3fcff;
  border: 2px solid #00b7ca;
  border-radius: 2px;
  text-align: center;
  padding-bottom: 20px; }
  .direct .navigate a {
    text-decoration: none;
    color: white;
    margin: 10px auto; }
  .direct .navigate .btn {
    background-color: #00a0b0;
    line-height: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto; }
  .direct .navigate h5 {
    margin-top: 20px; }

/*FOOTER section*/
.all-footer {
  background-color: #e6e6e6; }

.footer {
  min-height: 50px;
  bottom: 0px;
  border-top: 1px dashed #a2a2a2;
  color: #6f6f6f; }
  .footer p {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-shadow: 0px 1px 0px white; }

@media (min-width: 400px) {
  .all-footer {
    margin-top: 10px; } }
.footerbar {
  background-color: #00a0b0; }
  .footerbar .color-sty {
    height: 4px;
    width: 25%;
    display: block;
    float: left; }
  .footerbar .color1 {
    background-color: #00a0b0; }
  .footerbar .color2 {
    background-color: #6a4a3c; }
  .footerbar .color3 {
    background-color: #cc333f; }
  .footerbar .color4 {
    background-color: #eb6841; }
  .footerbar .color5 {
    background-color: #edc951; }

/*CONTENT section*/
.content, .landing-content {
  -webkit-flex: 1;
  flex: 1; }

.content {
  padding-top: 4rem;
  border-top: 1px solid #7df3ff;
  background-image: linear-gradient(to bottom, #e6e6e6 5px, white 50px); }

/*FORM styles */
.explanation {
  text-align: left; }

form.symptoms-form {
  margin-bottom: 15px; }
  form.symptoms-form label {
    text-align: left;
    margin-left: .2rem;
    font-size: 2rem; }

/*OTHER styles*/
body {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column; }

.ui-page-theme-a {
  background-color: white !important; }
