/*EDITABLE: This is the SCSS file--it will be compiled into the style.css file. 
------------This is the file that should be edited, not the style.css file.
*/
/*VARIABLES*/
/*Palette "Ocean Five"*/
body {
  background: #fff; }

/*-------------------
 LANDING PAGE STYLES
-------------------*/
/*Section styles */
.section {
  text-align: center; }

/*HEADING-LANDING section -- LANDING PAGE ONLY!!!*/
@media (min-width: 400px) {
  h1.fit-title {
    padding-top: 6rem;
    padding-bottom: 4.5rem; } }
.heading-landing {
  border-top: 4px solid #e3fcff;
  background-color: #00A0B0;
  background-image: linear-gradient(to top, #005a63 0%, #00A0B0 15%);
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem; }
  .heading-landing h1.fit-title {
    text-align: center; }

.fit-title, .fit-title-base {
  color: #F3FFFF;
  text-shadow: 0px 2px 1px #06737E; }

/*HEADING*/
.heading {
  border-top: 3px solid #e3fcff;
  background-color: #00A0B0;
  background-image: linear-gradient(to top, #005a63 0%, #00A0B0 15%);
  color: #fff;
  padding-top: 1rem; }
  .heading h1.fit-title-base {
    font-size: 1.9rem;
    margin-top: 0.5rem;
    text-align: left; }
  .heading a {
    text-decoration: none;
    color: #fff; }
  .heading img {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: -0.2rem;
    margin-right: 0.8rem; }

@media (min-width: 400px) {
  h1.fit-title-base {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 3.0rem !important; }

  img {
    margin-top: 0.4rem !important; } }
/*WELCOME section*/
.welcome {
  padding-top: 4rem;
  border-top: 1px solid #7df3ff;
  background-image: linear-gradient(to bottom, #e6e6e6 5px, #fff 50px); }
  .welcome h4 {
    font-style: italic; }

/*DIRECT section*/
.direct .navigate {
  background-color: #e3fcff;
  border: 2px solid #00b7ca;
  border-radius: 2px;
  text-align: center;
  padding-bottom: 20px; }
  .direct .navigate a {
    text-decoration: none;
    color: #fff;
    margin: 10px auto; }
  .direct .navigate .btn {
    background-color: #00A0B0;
    line-height: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto; }
  .direct .navigate h5 {
    margin-top: 20px; }

/*FOOTER section*/
.all-footer {
  background-color: #e6e6e6; }

.footer {
  min-height: 50px;
  bottom: 0px;
  border-top: 1px dashed #a2a2a2;
  color: #6f6f6f; }
  .footer p {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-shadow: 0px 1px 0px #fff; }
  .footer a {
    text-decoration: none;
    color: #6f6f6f;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-shadow: 0px 1px 0px #fff; }
  .footer a:hover, .footer a:focus {
    border-bottom: 1px dotted #6f6f6f; }

@media (min-width: 400px) {
  .all-footer {
    margin-top: 10px; } }
.footerbar {
  background-color: #00A0B0; }
  .footerbar .color-sty {
    height: 4px;
    width: 25%;
    display: block;
    float: left; }
  .footerbar .color1 {
    background-color: #00A0B0; }
  .footerbar .color2 {
    background-color: #6A4A3C; }
  .footerbar .color3 {
    background-color: #CC333F; }
  .footerbar .color4 {
    background-color: #EB6841; }
  .footerbar .color5 {
    background-color: #EDC951; }

/*CONTENT section*/
.content, .landing-content {
  -webkit-flex: 1;
  flex: 1; }

.content {
  padding-top: 4rem;
  border-top: 1px solid #7df3ff;
  background-image: linear-gradient(to bottom, #e6e6e6 5px, #fff 50px); }

/*FORM styles */
.explanation {
  text-align: left; }

form.symptoms-form {
  margin-bottom: 15px; }
  form.symptoms-form label {
    text-align: left;
    margin-left: .2rem;
    font-size: 2rem; }

/*OTHER styles*/
body {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column; }

.ui-page-theme-a {
  background-color: #fff !important; }

/*-------------------------
  DOCTOR INTERFACE STYLES
-------------------------*/
/*NOTIFICATIONS page */
.patient-info {
  border: 1px solid #a2a2a2;
  background-color: #a7a7a7;
  color: #fff;
  border-radius: 3px;
  padding-top: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: inset 0 1px 0 #c5c5c5; }
  .patient-info .phone-num {
    text-align: center !important; }
  .patient-info .info-cont {
    padding-bottom: .5rem; }
  .patient-info .avg .symptoms-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    color: #2f2f2f;
    padding-right: .5rem; }
  .patient-info .patient-name {
    font-size: 2.0rem;
    vertical-align: center;
    text-align: left;
    text-shadow: 0 -1px 0 #8d8d8d; }
    .patient-info .patient-name a.close-expand {
      vertical-align: middle;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0 .7rem;
      background-color: #087BB8;
      border-radius: 2px;
      color: #fff;
      text-decoration: none;
      text-shadow: none;
      cursor: pointer;
      box-shadow: inset 1px 1px 0 #13a6f5;
      border: 1px solid #076ba0; }
    .patient-info .patient-name a.close-expand:hover {
      background-color: #0882c2; }
  @media (min-width: 400px) {
    .patient-info .doctor-name {
      text-align: left; } }
  .patient-info .doctor-name {
    font-size: 1.5rem;
    font-style: italic;
    padding-top: .5rem;
    color: whitesmoke;
    text-shadow: 0 -1px 0 #c5c5c5; }
  .patient-info .patient-details {
    border-top: 1px dashed #a2a2a2;
    background-color: #f8f8f8;
    color: #222;
    padding-top: 1rem;
    padding-bottom: .5rem;
    display: none; }
    .patient-info .patient-details .symptoms-title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.2rem;
      color: #2f2f2f; }
    @media (min-width: 400px) {
      .patient-info .patient-details .mobile-no {
        display: block !important;
        border-right: 1px dotted #a7a7a7; } }
    .patient-info .patient-details .mobile-no {
      display: none; }
  .patient-info input[type="submit"] {
    margin-bottom: 0;
    background-color: #8d8d8d;
    border: none; }
  .patient-info input[type="submit"]:hover, .patient-info input[type="submit"]:focus {
    background-color: gray; }
  .patient-info form {
    margin-bottom: 0; }
  .patient-info .phone {
    text-align: center;
    font-weight: 300; }
  .patient-info .p-name {
    font-weight: 600; }

.u-vert {
  vertical-align: middle; }

.logout-row {
  margin-top: -2.5rem; }

.checkmark {
  background-color: #249E32;
  color: #e2f8e5;
  border: 1px solid #114b18;
  margin: 0 auto;
  width: 32px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 0 #51d760;
  text-shadow: 0 -1px 0 #1b7425; }

/*# sourceMappingURL=style.css.map */
